@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;500&display=swap');

body{
    font-family: 'Noto Serif JP', serif;
    font-weight: 200;
}
.mainvisual{
    width:1500px;
    height:700px;
    margin:auto;
    margin-top: 5px;
    background-image: url("../images/top.jpg");
    background-size: cover;
}

 .link-concept, .link-life-choice{
    font-size: 30px;
}

.life-list1{
    margin-top: 50px;
    margin-right: 10px;
    margin-bottom: 70px;
}

.life-list2{
    margin-top: 50px;
    margin-right: 10px;
    margin-bottom: 70px;
}

.life-list3{
    margin-top: 50px;
    margin-right: 10px;
    margin-bottom: 70px;
}

.life-list4{
    margin-top: 50px;
    margin-right: 10px;
    margin-bottom: 70px;
}

.life-list5{
    margin-top: 50px;
    margin-right: 10px;
    margin-bottom: 70px;
}

.life-list6{
    margin-top: 50px;
    margin-right: 10px;
    margin-bottom: 70px;
}

.life-list7{
    margin-top: 50px;
    margin-right: 10px;
    margin-bottom: 70px;
}

.life-list8{
    margin-top: 50px;
    margin-right: 10px;
    margin-bottom: 70px;
}

.user_new{
    margin-top: 50px; 
}

.shadow-3 {
  box-shadow: 0px 0px 3px red;
  width: 100px;
  height: 50px;
  font-size: 15px;
}

.card-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 150px;
}

.card-columns {
    widows: unset;
    margin-top: 50px; 
}

.textbody-color {
    color: #212529;
}
.textbody-order a {
 text-decoration: none;
}
.textbody-order:hover {
  text-decoration: none;
}

.font-weight-500 {
 font-weight: 500;
}

.text-small {
 font-size: 0.8em;
}

.comment-wrapper {
    overflow-y: scroll;
    /*縦方向はスクロール可*/
    overflow-x: hidden;
}

p {
  line-height: 45px;
}

p1 {
  line-height: 45px;
  font-weight: bold;
  text-align: center;
}
.pc-message{
  display: block;
}

.smart-message{
  display: none;
}

@media screen and (max-width: 1500px) {
    .mainvisual{
        width:750px;
        height:750px;
        margin:auto;
        margin-top: 5px;
        background-image: url("../images/top-i.jpg");
        background-size: cover;
    }
    .pc-message{
      display: none;
    }
    
    .smart-message{
      display: block;
    }
}

.pagination {
  justify-content: center;
}
/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  margin-right: 40px;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #DEC2BA;     /*背景の色を変える*/
  border-radius: 90px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 90px;    /*角を丸くする*/
}