<div class="container">
  <div align="center">
    <h2 class="my-5">30代でやるべきことは</h2>
        <h5>「今後の生き方を決めること」</h5>
         <p>
          30代というのは今後の働き方、生き方を決める重要な時期<br>
          
          「年齢なんて関係ない！」<br>
          
          「やりたいことには40代でも50代でも挑戦できる！」<br>
          
          そんな声が聞こえてきそうですか…<br>
  </div>
          <div class="d-flex justify-content-center">
              <ul class="font-weight-bold" style="line-height: 3;">
                  <li>独立企業をするのか転職するか、いまの会社で行けるところまで目指すのか。</li>
                  <li>結婚するのか独身のまま生きるか。</li>
                  <li>子供を作るのか、作らないのか。</li>
                  <li>家を買うのか、買わないのか。</li>
                  <li>今の人間関係のままで生きるのか、新しい世界にいる人たちと出会うか。</li>
              </ul>
          </div>
  <div align="center">
        <p>
          30代はまさに「選択」と「決断」<br>
          
          人生で一番分岐点の多い時期だといえます。<br>
          
          30代の私たちが今どのような人生を歩むべきか悩んでいる皆さんにChoiceしてほしい。<br>​
        
         「30代にすべき人生の選択」<br>
        
          <%= link_to "Life Choice", new_user_registration_path, class: 'btn btn-outline-secondary btn-lg' %><br>
        
          今の悩みに何をすべきか自分の気持ちと人生が整理できるサイトです。<br>
          
          30代の仲間の想いも知ることができ人生の参考になりますように。<br>
        </p>
    
      </div>
</div>

