<div class="container">
  <div align="center">
    <h2 class="my-5">30代でやるべきことは</h2>
     <body>
        <h5>「今後の生き方を決めること」</h5>
         <p>
           「今後の生き方を決めること」<br>
          
          30代というのは今後の働き方、生き方を決める重要な時期<br>
          
          「年齢なんて関係ない！」<br>
          
          「やりたいことには40代でも50代でも挑戦できる！」<br>
          
          そんな声が聞こえてきそうですか…<br>
  </div>
         <p1>
          ・独立企業をするのか転職するか、いまの会社で行けるところまで目指すのか。​<br>
          
          ・結婚するのか独身のまま生きるか。<br>
          
          ・子供を作るのか、作らないのか。<br>
          
          ・家を買うのか、買わないのか。<br>
          
          ・今の人間関係のままで生きるのか、新しい世界にいる人たちと出会うか。<br>
          </p1>
  <div align="center">
        <p>
          30代はまさに「選択」と「決断」<br>
          
          人生で一番分岐点の多い時期だといえる。<br>
          
          30代の私たちが今どのような人生を歩むべきか悩んでいる皆さんに買ってほしい<br>​
        
         「30代にすべき人生の選択」<br>
        
          <%= link_to "Life Choice", new_user_registration_path, class: 'btn btn-outline-secondary btn-lg' %><br>
        
          今、何に悩み何をすべきか自分の気持ちと人生が整理できるサイトです。<br>
          
          30代の仲間の思いも知ることができ参考になりますように。<br>
        </p>
    
      </div>
    </body>
</div>

