<div class="mainvisual">
    <div class="container pc-message">
        <p style="position:  absolute; top: 500px; right:360px;"><%= link_to "３０代の生き方", goals_all_path, class: 'btn btn-outline-secondary btn-lg' %><br></p>
        <p style="position:  absolute; top: 600px; right:370px;"><%= link_to "Life choice",  users_themes_path, class: 'btn btn-outline-secondary btn-lg' %></p>
    </div>
</div>
<div class="container smart-message">
    <div class="col text-center mb-5">
        <%= link_to "３０代の生き方", goals_all_path, class: 'btn btn-outline-secondary btn-lg' %>
        <%= link_to "Life choice", users_themes_path, class: 'btn btn-outline-secondary btn-lg' %>
    </div>
</div>