<div class="mainvisual">
<div class="container">
<p style="position:  absolute; top: 500px; right:360px;"><%= link_to "３０代の生き方", new_user_session_path, class: 'btn btn-outline-secondary btn-lg' %><br></p>
<p style="position:  absolute; top: 600px; right:370px;"><%= link_to "Life choice",  users_themes_path, class: 'btn btn-outline-secondary btn-lg' %></p>
</div>
</div>
</div>