<div class="container">
     <h2 class="my-5">Comment</h2>
 <% @goals.each do |goal| %>
<ul class="d-flex" style="list-style:none;">
 <% goal.post_comments.each do |post_comment| %>
 
 <li class="col-6 p-3" style="border: solid 1px lightgray;border-radius:8px;">
   <div class="row">
     <div class="col text-bold" style="font-size: 1.4em;"><%= post_comment.user.name %></div>
     <div class="col"><%= post_comment.created_at.strftime('%Y/%m/%d') %></div>
   </div>
   <div>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
     <div class="d-flex justify-content-end">
       <p><%= link_to "削除", goal_post_comment_path(post_comment.goal, post_comment), method: :delete, class:"btn btn-outline-secondary" %></p>
     </div>
   </div>
 </li>
 <% end %>
 </ul>
 <% end %>
 </div>
 

 